<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Dave Maison's portfolio website">
    <meta name="keywords" content="dave, david, maison, node, angular, semantic, express, mean stack, developer, responsive, design, ui/ux, portfolio, javascript, css, html">
    <meta name="author" content="Dave Maison">
    <meta name="copyright" content="dave.maison 2017">
    <meta name="application-name" content="dave.maison">
    <meta property="og:title" content="dave.maison">
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://dave.maison">
    <meta property="og:image" content="http://dave.maison/img/me.jpg">
    <meta property="og:description" content="Dave Maison's portfolio website">
    <meta property="twitter:title" content="dave.maison">
    <meta property="twitter:card" content="summary">
    <meta property="twitter:description" content="Dave Maison's portfolio website">
    <meta property="twitter:image" content="http://dave.maison/img/me.jpg">

    <base href="/">

    <title>dave.maison</title>

    <link href="https://fonts.googleapis.com/css?family=Amatica+SC" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="libs/semantic-ui/dist/semantic.min.css">
    <!-- build:css css/dave.maison.min.css -->
    <link rel="stylesheet" type="text/css" href="libs/angular-chart.js/dist/angular-chart.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- endbuild -->

    <script type="text/javascript" src="libs/async/dist/async.min.js"></script>
    <script type="text/javascript" src="libs/angular/angular.min.js"></script>
    <script type="text/javascript" src="libs/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="libs/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="libs/semantic-ui/dist/semantic.min.js"></script>
    <script type="text/javascript" src="libs/angulartics/src/angulartics.js"></script>
    <script type="text/javascript" src="libs/angulartics-google-analytics/dist/angulartics-google-analytics.min.js"></script>
    <script type="text/javascript" src="libs/Chart.js/Chart.min.js"></script>
    <script type="text/javascript" src="libs/angular-chart.js/dist/angular-chart.js"></script>
    
    <!-- build:js js/dave.maison.min.js -->

    <!-- modules -->
    <script type="text/javascript" src="js/modules/alert.js"></script>
    <script type="text/javascript" src="js/modules/main.js"></script>
    <script type="text/javascript" src="js/modules/portfolio.js"></script>
    <script type="text/javascript" src="js/modules/resume.js"></script>
    <script type="text/javascript" src="js/modules/examples.js"></script>
    <script type="text/javascript" src="js/modules/contact.js"></script>
    <script type="text/javascript" src="js/modules/dna.js"></script>
    <script type="text/javascript" src="js/modules/study.js"></script>
    <script type="text/javascript" src="js/modules/chasing-ballmer.js"></script>
    <script type="text/javascript" src="js/modules/presents.js"></script>
    <script type="text/javascript" src="js/modules/app.js"></script>
    
    <!-- configs -->
    <script type="text/javascript" src="js/configs/app.js"></script>
    <script type="text/javascript" src="js/configs/alert.js"></script>
    <script type="text/javascript" src="js/configs/chasing-ballmer.js"></script>
    <script type="text/javascript" src="js/configs/contact.js"></script>
    <script type="text/javascript" src="js/configs/dna.js"></script>
    <script type="text/javascript" src="js/configs/examples.js"></script>
    <script type="text/javascript" src="js/configs/main.js"></script>
    <script type="text/javascript" src="js/configs/portfolio.js"></script>
    <script type="text/javascript" src="js/configs/presents.js"></script>
    <script type="text/javascript" src="js/configs/resume.js"></script>
    <script type="text/javascript" src="js/configs/study.js"></script>
    
    <!-- run -->
    <script type="text/javascript" src="js/runs/alert.js"></script>
    <script type="text/javascript" src="js/runs/app.js"></script>
    
    <!-- controllers -->
    <script type="text/javascript" src="js/controllers/main.js"></script>
    <script type="text/javascript" src="js/controllers/portfolio.js"></script>
    <script type="text/javascript" src="js/controllers/resume.js"></script>
    <script type="text/javascript" src="js/controllers/examples.js"></script>
    <script type="text/javascript" src="js/controllers/contact.js"></script>
    <script type="text/javascript" src="js/controllers/dna.js"></script>
    <script type="text/javascript" src="js/controllers/study.js"></script>
    <script type="text/javascript" src="js/controllers/chasing-ballmer.js"></script>
    <script type="text/javascript" src="js/controllers/presents.js"></script>
    
    <!-- factories -->
    <script type="text/javascript" src="js/factories/study.js"></script>
    <script type="text/javascript" src="js/factories/chasing-ballmer.js"></script>
    <script type="text/javascript" src="js/factories/contact.js"></script>
    <script type="text/javascript" src="js/factories/dna.js"></script>
    <script type="text/javascript" src="js/factories/presents.js"></script>
    <script type="text/javascript" src="js/factories/portfolio.js"></script>
    <script type="text/javascript" src="js/factories/resume.js"></script>
    
    <!-- directives -->
    <script type="text/javascript" src="js/directives/pagination.js"></script>
    <script type="text/javascript" src="js/directives/dropdown.js"></script>
    <script type="text/javascript" src="js/directives/alert.js"></script>
    
    <!-- endbuild -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-68842438-1', 'auto');
    </script>
</head>
<body>
    <div>
        
        <div class="ui active dimmer" ng-if="loading">
            <div class="ui loader"></div>
        </div>
        
        <!-- menu -->
        <div class="ui top fixed inverted menu" id="main-menu">
            <a href="/" class="active item">
                dave.maison
            </a>
            
            <!-- responsive menu -->
            <div class="ui right inverted menu" ng-show="isMobile">
                <div class="ui dropdown icon item" id="mobile-menu">
                    <i class="sidebar icon"></i>
                    <div class="menu">
                        <a ng-repeat="item in menu" href="{{item.path}}" class="item">
                            {{item.title}}
                        </a>
                        <a target="_blank" class="icon item" href="https://github.com/dmaison">
                            Github
                        </a>
                        <a target="_blank" class="icon item" href="https://www.linkedin.com/pub/david-maison/57/70b/859">
                            LinkedIn
                        </a>
                        <a target="_blank" class="icon item" href="https://www.facebook.com/dave.maison">
                            Facebook
                        </a>
                        <a target="_blank" class="icon item" href="https://stackoverflow.com/users/1733171/dave-maison?tab=profile">
                            Stack Overflow
                        </a>
                    </div>
                </div>
            </div>
            <a ng-repeat="item in menu" href="{{item.path}}" class="icon item" ng-show="!isMobile">
                <i class="large {{item.icon}} icon"></i>
            </a>
            <a target="_blank" class="icon item" href="https://github.com/dmaison" ng-show="!isMobile">
                <i class="large github icon"></i>
            </a>
            <a target="_blank" class="icon item" href="https://www.linkedin.com/pub/david-maison/57/70b/859" ng-show="!isMobile">
                <i class="large linkedin icon"></i>
            </a>
            <a target="_blank" class="icon item" href="https://www.facebook.com/dave.maison" ng-show="!isMobile">
                <i class="large facebook icon"></i>
            </a>
            <a target="_blank" class="icon item" href="https://stackoverflow.com/users/1733171/dave-maison?tab=profile" ng-show="!isMobile">
                <i class="large stack overflow icon"></i>
            </a>
        </div>
        
        <!-- content -->
        <div id="content" ng-view></div>    
        
        <alert>{{ error || success }}</alert>

    </div>
</body>
</html>