body {
    background-color: #006;
    color: #fff;
    font-family: 'courier new', 'lucida console', serif;
    line-height: 3px;
    font-size: 14px;
    overflow: hidden;
}

#console p::selection { background: #0f0; }
#console p::-moz-selection { background: #0f0; }
#console p:last-child { 
    display: inline-block; 
    position: relative;
    margin: 0;
}
#console p:last-child:after {
    display: block;
    position: absolute;
    background-color: #0f0;
    height: 14px;
    width: 10px;
    content: ' ';
    top: -6px;
    right: -10px;
}

#nope {
    float: right;
    height: 315px;
    width: 560px;
}

@media screen and (max-width: 900px) {
    #nope { display: none; }
}