#responsive-menu { display: none; }

@media screen and (max-width: 634px) {
	#responsive-menu { 
		display: -webkit-box;
    	display: -webkit-flex;
    	display: -ms-flexbox;
    	display: flex;
	}

	a.desktop.item { display: none !important; }
    
}

@media screen and (max-width: 780px) {
	
	.masthead.segment { height: 200px !important; }

	#content { top: 200px !important; }

	div.ui.grid > div.wide.column { width: 100% !important; }

}