/* the answer isn't here, go away! */

body {
    font-size: 14px;
    font-family: lato, arial, helvetica, sans-serif;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    max-width: 400px;
}

input {
    padding: .5rem 1rem;
    border: 1px solid #ccc;
    border-radius: .123rem;
}

input[type="submit"] {
    cursor: pointer;
    background-color: #eee;
    color: #999;
}

input:hover {
    border-color: #aaa;
    color: #333;
}