body { 
	overflow-x: hidden; 
	background-color: #1B1C1D;
}

#content { 
	margin-top: 100px;
	padding: 15px;
}

.top.menu { 
	-moz-box-shadow: 0 5px 5px #000 !important;
	-webkit-box-shadow: 0 5px 5px #000 !important;
	box-shadow: 0 5px 5px #000 !important;
}

.header,
.header > .content,
.top.menu .item { font-family: 'Amatica SC' !important; }

#main-menu .item { font-size: 2em; }

#main-menu .item:nth-child( 3 ):hover { background-color: rgba( 255, 0, 0, .3 ) !important; }
#main-menu .item:nth-child( 4 ):hover { background-color: rgba( 0, 255, 0, .3 ) !important; }
#main-menu .item:nth-child( 5 ):hover { background-color: rgba( 0, 0, 255, .3 ) !important; }
#main-menu .item:nth-child( 6 ):hover { background-color: rgba( 255, 0, 255, .3 ) !important; }
#main-menu .item:nth-child( 7 ):hover { background-color: rgba( 64, 120, 192, 1 ) !important; }
#main-menu .item:nth-child( 8 ):hover { background-color: rgba( 0, 123, 181, 1 ) !important; }
#main-menu .item:nth-child( 9 ):hover { background-color: rgba( 59, 89, 152, 1 ) !important; }

#main-menu .right.menu .item .item:nth-child( 1 ):hover { background-color: rgba( 255, 0, 0, .3 ) !important; }
#main-menu .right.menu .item .item:nth-child( 2 ):hover { background-color: rgba( 0, 255, 0, .3 ) !important; }
#main-menu .right.menu .item .item:nth-child( 3 ):hover { background-color: rgba( 0, 0, 255, .3 ) !important; }
#main-menu .right.menu .item .item:nth-child( 4 ):hover { background-color: rgba( 255, 0, 255, .3 ) !important; }
#main-menu .right.menu .item .item:nth-child( 5 ):hover { background-color: rgba( 64, 120, 192, 1 ) !important; }
#main-menu .right.menu .item .item:nth-child( 6 ):hover { background-color: rgba( 0, 123, 181, 1 ) !important; }
#main-menu .right.menu .item .item:nth-child( 7 ):hover { background-color: rgba( 59, 89, 152, 1 ) !important; }

.box {
	width: 300px;
	height: 300px;
}

.ui.tabular.menu .item:not( .active ) { color: rgba(255,255,255,.9) !important; }

.ui.statistic .value { word-break: break-word; }