/* semantic overrides */
.ui.header,
#main-menu .brand { font-family: quicksand, sans-serif;}

.ui.inverted.menu,
.ui.button.primary:hover { background-color: #374048; }

.ui.button.primary { background-color: #455765; }

.ui.button.positive { background-color: #6d9e78; }
.ui.button.positive:hover { background-color: #40af5a; }

.ui.inverted.menu a .icon:before { opacity: .5; }
.ui.inverted.menu a:hover .icon:before,
.ui.inverted.menu a.active .icon:before { opacity: 1; }

.ui.table thead th,
.ui.secondary.segment,
.ui.fluid.raised.card .image,
.ui.pagination.menu a.item.active,
.ui.pagination.menu a.item:hover { background-color: rgb( 239, 242, 247 ); }

.ui.pagination.menu a.item.disabled { color: rgb( 220, 225, 234 ); }

.ui.divided.list .item > img { margin: .8rem 0; }
.ui.divided.list .item:first-child > img { margin-top: 0; }
.ui.divided.list .item:last-child > img { margin-bottom: 0; }

.mobile .ui.stackable.grid .column { 
    padding-left: 0 !important;
    padding-right: 0 !important;
}


/* general layout */
body {
    background: #eee;
    background: -webkit-radial-gradient( #fff, #fff, rgb( 220, 225, 234 ) );
    background: -o-radial-gradient( #fff, #fff, rgb( 220, 225, 234 ) );
    background: -moz-radial-gradient( #fff, #fff, rgb( 220, 225, 234 ) );
    background: radial-gradient( #fff, #fff, rgb( 220, 225, 234 ) );
    background-attachment: fixed;
}

#main-menu .brand { font-weight: bold; }

#content { padding: 1rem; }

#content:not( .mobile ) { margin-left: 56.77px; }

#content.mobile { margin-top: 40px; }

#experience .image img { 
    max-width: 250px; 
    max-height: 100px;
    height: auto;
    width: auto;
    margin: auto;
}

#experience .image { padding: 1rem; }