article.job { padding: 1rem; }

article.job > div.container {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba( 0, 0, 0, .5 );
    text-align: center;
    padding: 1rem;
    width: calc( 256px - 2rem );
}

article.job > div.container > img.logo {
    height: auto;
    max-height: 110px;
    max-width: 100%;
    width: auto;
}

article.job > div.container p, 
article.job > div.container ul {
    text-align: left;
}