:root {
    --color-blue-dark: #000819;
    --color-blue-light: #0d1f46;
    --color-facebook: #1778f2;
    --color-github: #24292e;
    --color-instagram: #e1306c;
    --color-linkedin: #2867b2;
    --color-stackoverflow: #f48024;
    --color-yellow: #ffdf00;
}

body {
    
}