<div class="ui pagination menu" ng-show="( pageCount( total, itemsPerPage ) > 1 )">
  	<a class="item icon" ng-class="{ 'disabled' : ( currentPage === 0 ) }" ng-click="prevPage()"><i class="arrow left icon"></i></a>
    <a class="item" 
        ng-repeat="n in range" 
        ng-class="{ 'active': ( n == currentPage ) }" 
        ng-click="setPage( n )">
        {{n+1}}
    </a>
  	<a class="item icon" ng-class="{ 'disabled' : ( currentPage === pageCount( total, itemsPerPage ) - 1 ) }" ng-click="nextPage()"><i class="arrow right icon"></i></a>
</div>