<div class="ui stackable grid">
	<div class="three wide column">
		<div class="ui fluid raised card">
			<div class="image">
				<img src="/img/me.jpg">
			</div>
			<div class="content">
				<div class="header">
					David J. Maison Jr.
				</div>
				<div class="meta">
					<i class="birthday icon"></i> 
					16 Oct. 1987
				</div>
			</div>
			<div class="extra content">
				<div class="meta">
					<span class="right floated time">Interlink ONE, Inc.</span>
					Senior Developer
				</div>
				<div class="meta">
					<span class="right floated time">USAF Reserves</span>
					Fuels Specialist
				</div>
			</div>
			<div class="extra content">
				<div class="description">
					6 years experience in the web development career field, with an emphasis on web standards, design, 
					and user experience. 4 years of education with emphasis in internet technologies from Shawsheen 
					Valley High School, and currently attending UMass Lowell for Information Technologies degree.
			    </div>
			</div>
		</div>
	</div>
	<div class="thirteen wide column">
		<h3 class="ui header">Specialties</h3>
		<div class="ui relaxed divided list">
			<div class="item">
				React Development
			</div>
			<div class="item">
				MEAN Stack Development
			</div>
			<div class="item">
				RESTful Web Services
			</div>
			<div class="item">
				MVC Software Architecture
			</div>
			<div class="item">
				Responsive Design
			</div>
			<div class="item">
				UI/UX
			</div>
			<div class="item">
				W3C Standards Compliance
			</div>
		</div>
		
		<h3 class="ui header">Education</h3>
		<div class="ui relaxed divided list">
			<div class="item">
				Learned internet technologies vocation at 
				<a href="http://www.shawsheentech.org/" target="_blank">Shawsheen Valley Tech.</a> 
				while attending high school
			</div>
			<div class="item">
				Working towards a degree in Information Technologies
			</div>
			<div class="item">
				In Training for Fuels Craftsman
			</div>
		</div>
		
		<h3 class="ui header">Hobbies &amp; Interests</h3>
		<div class="ui relaxed divided list">
			<div class="item">
				Health &amp; Fitness
			</div>
			<div class="item">
				Martial Arts
			</div>
			<div class="item">
				Music
			</div>
			<div class="item">
				Art
			</div>
			<div class="item">
				Hockey
			</div>
			<div class="item">
				Whisky
			</div>
		</div>
	</div>
</div>