<div class="ui stackable grid">
	<div class="sixteen wide column">
		<paginate list="languages" items-per-page="4"></paginate>
	</div>
	<div class="four wide column" ng-repeat="item in languages">
		<h3 class="ui header">{{item.description}}</h3>
		<div class="ui relaxed divided list">
			<div class="item" ng-repeat="lang in item.languages">
				<i class="large {{item.icon}} middle aligned icon"></i>
				<div class="content">
					<a class="header">{{lang.language}}</a>
					<div class="description">{{lang.experience}} years experience</div>
				</div>
			</div>
		</div>
	</div>
</div>