.title {
    color: var( --yellow );
    font-weight: bold;
    line-height: 100px;
    height: calc( 100vh - 6rem );
    margin: 0;
    text-transform: uppercase;
    text-orientation: sideways;
    transform: rotate( 180deg );
    width: 88px;
    writing-mode: vertical-lr;
    padding-left: 3rem;    
}

.title a {
    color: inherit;
    text-decoration: none;
}