.page-contact { 
    display: flex;
    flex-direction: column;
    max-height: calc( 100vh - 260px - 10rem );
    min-height: 100%;
}

.page-contact__container {
    flex: 1;
    flex-shrink: 1;
    margin-bottom: 2rem;
    overflow-y: scroll;
}

.page-contact__container::-webkit-scrollbar { width: 12px; }
.page-contact__container::-webkit-scrollbar-track { 
    background: var( --darkBlue ); 
    border-radius: 20px;
}
.page-contact__container::-webkit-scrollbar-thumb {
    background-color: var( --lightBlue );  
    border-radius: 20px;
    transition: linear .2s;
}

.page-contact__container::-webkit-scrollbar-thumb:hover {
    background-color: var( --yellow );
}

.page-contact p { max-width: 50vw; }

.page-contact__photo {
    border-radius: 20px;
    cursor: pointer;
    filter: grayscale( 100% );
    float: right;
    margin: 0 2rem;
    max-width: 400px;
    transition: ease-in-out .5s;
    width: 100%;
}

.page-contact__photo:hover {
    box-shadow: 0 10px 15px rgba( 0, 0, 0, .5 );
    filter: grayscale( 0% );
    margin-top: -10px;
}

/**
 * Proficiencies
 */
.page-contact__list {
    column-count: 2;
    list-style: none;
    padding: 0;
}

.page-contact__list__item { margin-bottom: 1rem;}

.page-contact__list__item .icon {
    margin-right: 1rem;
    vertical-align: middle;
}

/**
 * Data list
 */
.page-contact__details {
    flex-basis: 190px;
    flex-shrink: 0;
    display: grid;
    grid-template-columns: 30px auto;
    grid-row-gap: 2rem;
    grid-column-gap: 1rem;
    margin: 0;
    max-width: 400px;
}

.page-contact__details__label { 
    margin: 0; 
    text-align: center;
}

.page-contact__details__data { margin-inline-start: 0; } 