.icon { display: inline-block; }

.icon svg { 
    height: 100%;
    width: auto;
}

/**
 * Colors
 */
.icon--white { fill: var( --fontPrimary ); }

.icon--yellow { fill: var( --yellow ); }

/**
 * Sizes
 */
.icon--large { height: 70px; }

.icon--medium { height: 30px; }

.icon--small { height: 20px; }

@media screen and (max-width: 750px){
    .icon--large { height: 40px; }
}