.icon { display: inline-block; }

.icon svg { 
    height: 100%;
    width: auto;
}

.icon--white { fill: var( --fontPrimary ); }

.icon--yellow { fill: var( --yellow ); }

.icon--large { height: 70px; }