<div class="ui dimmer" id="deny-permission">
    <div class="content">
        <div class="center">
            <h2 class="ui inverted icon header">
                <i class="ban icon"></i>
                Permission Denied!
            </h2>
            <p>You do not have access to this content.</p>
            <a class="ui labeled icon button" onclick="history.back( -1 )">
            	<i class="fa fa-arrow-left icon"></i>
            	Leave Now
            </a>
        </div>
    </div>
</div>