<!-- GENERAL -->

<h3 class="ui dividing header">General</h3>

<div class="pull-right">
	<a class="ui primary labeled icon button" ng-click="approve( person )" ng-show="!person.approved && person._id">
	  	<i class="fa fa-check icon"></i>
	  	Approve
	</a>
	<a class="ui negative labeled icon button" ng-click="delete( person )" ng-show="person._id">
	  	<i class="fa fa-trash icon"></i>
	  	Delete
	</a>
</div>


<div class="required field" ng-class="{ 'error': form.headshot.$invalid && form.headshot.$dirty }">
	<img ngf-src="file || person.headshot || 'img/person.placeholder.png'" class="ui small image preview ">
	<label for="headshot">Headshot</label>
	<input type="file" ng-model="file" ngf-select name="headshot" id="headshot" class="form-control">
</div>		

<div class="required field" ng-class="{ 'error': form.name.$invalid && form.name.$dirty }">
	<label for="name">Stage Name</label>
	<input type="text" ng-model="person.name" name="name" id="name" class="form-control" autocomplete="off" placeholder="Ex: Jesse Jane, Sasha Grey, Etc." required ng-blur="uniqueName()">
	<div ng-show="form.name.$invalid && form.name.$dirty" class="ui pointing red label">Please enter a name</div>
	<div ng-show="form.name.$dirty && !person.unique" class="ui red pointing label">Please enter a unique name</div>
</div>

<div class="field">
	<div class="ui toggle checkbox">
		<input type="checkbox" ng-model="person.retired" name="retired" id="retired" class="form-control">
		<label for="retired">This Person is Retired</label>
	</div>
</div>

<div class="field" ng-class="{ 'error': form.birthdate.$invalid && form.birthdate.$dirty }">
	<label for="birthdate">Birthdate</label>
	<input type="date" ng-model="person.birthdate" name="birthdate" id="birthdate" class="form-control" autocomplete="off" placeholder="mm/dd/yyyy">
	<div ng-show="form.birthdate.$invalid && form.birthdate.$dirty" class="ui red label">Please enter a valid birthdate</div>
</div>

<!-- PHYSICALITY -->

<h3 class="ui dividing header">Physicality</h3>
<div class="two fields">
	<div class="five wide required field" ng-class="{ 'error': form.ethnicity.$invalid && form.ethnicity.$dirty }">
		<label for="ethnicity">Ethnicity</label>
		<dropdown ng-model="person.ethnicity" placeholder="Select an ethnicity" fluid="true" name="ethnicity">
		    <choice ng-repeat="ethnicity in ethnicities" choice-value="ethnicity._id" display="ethnicity.term"></choice>
		</dropdown>
		<div ng-show="form.ethnicity.$invalid && form.ethnicity.$dirty" class="ui red label">Please select an ethnicity</div>
	</div>

	<div class="required field" ng-class="{ 'error': form.ethnicity.$invalid && form.ethnicity.$dirty }">
		<label for="skinTone">Skin Tone</label>
		<dropdown ng-model="person.skin.tone" placeholder="Select a skin tone" fluid="true" name="skinTone">
		    <choice ng-repeat="tone in skinTones" choice-value="tone._id" display="tone.term"></choice>
		</dropdown>
		<div ng-show="form.skinTone.$invalid && form.skinTone.$dirty" class="ui red label">Please select a skin tone</div>
		<div class="ui buttons spaced"><a class="ui button" ng-click="help( 'skin tones' )">What are these?</a></div>
		<p class="ui info message">
			According to the Fitzpatrick scale, skin tone does not indicate a person's degree of tan. 
			Don't fill this section out with the person's tan in mind.
		</p>
	</div>
</div>

<div class="two fields">
	<div class="required field" ng-class="{ 'error': form.weight.$invalid && form.weight.$dirty }">
		<label for="weight">Weight</label>
		<input type="number" ng-model="person.weight" name="weight" id="weight" class="form-control" autocomplete="off" placeholder="Weight in pounds" required>
		<div ng-show="form.weight.$invalid && form.weight.$dirty" class="ui red label">Please enter a valid weight</div>
		<p class="ui info message">
			Please only use the last known weight. If you do not know the weight, make an estimate.
		</p>
	</div>

	<div class="required field" ng-class="{ 'error': (form.heightInches.$invalid && form.heightInches.$dirty) || (form.heightFeet.$invalid && form.heightFeet.$dirty) }">
		<label for="height">Height</label>
		<div class="two fields">
			<div class="three wide field"><input type="number" ng-model="person.height.feet" name="heightFeet" id="heightFeet" class="form-control" autocomplete="off" placeholder="Feet" required></div>
			<div class="field"><input type="number" ng-model="person.height.inches" name="heightInches" id="heightInches" min="0" max="11" class="form-control" autocomplete="off" placeholder="Inches" required></div>
		</div>
		<div ng-show="(form.heightInches.$invalid && form.heightInches.$dirty) || (form.heightFeet.$invalid && form.heightFeet.$dirty)" class="ui red label">Please enter a valid height</div>
	</div>
</div>

	<!-- Body -->

	<h4 class="ui header">Body</h4>

	<div class="two fields">
		<div class="required field" ng-class="{ 'error': form.bodyType.$invalid && form.bodyType.$dirty }">
			<label for="bodyType">Type</label>
			<dropdown ng-model="person.body.type" placeholder="Select a body type" fluid="true" name="bodyType">
			    <choice ng-repeat="type in body.types" choice-value="type._id" display="type.term"></choice>
			</dropdown>
			<div ng-show="form.bodyType.$invalid && form.bodyType.$dirty" class="ui red label">Please select a body type</div>
			<div class="ui buttons spaced"><a class="ui button" ng-click="help( 'body types' )">What are these?</a></div>
		</div>
		<div class="required field" ng-class="{ 'error': form.bodyShape.$invalid && form.bodyShape.$dirty }">
			<label for="bodyShape">Shape</label>
			<dropdown ng-model="person.body.shape" placeholder="Select a body type" fluid="true" name="bodyShape">
			    <choice ng-repeat="type in body.shapes" choice-value="type._id" display="type.term"></choice>
			</dropdown>
			<div ng-show="form.bodyShape.$invalid && form.bodyShape.$dirty" class="ui red label">Please select a body shape</div>
			<div class="ui buttons spaced"><a class="ui button" ng-click="help( 'body shapes' )">What are these?</a></div>
		</div>
	</div>

	<div class="six wide required field" ng-class="{ 'error': form.braSize.$invalid && form.braSize.$dirty }">
		<label for="braSize">Bra Size</label>
		<dropdown ng-model="person.body.braSize" placeholder="Select a body type" fluid="true" name="braSize">
		    <choice ng-repeat="type in body.braSizes" choice-value="type._id" display="type.term"></choice>
		</dropdown>
		<div ng-show="form.braSize.$invalid && form.braSize.$dirty" class="ui red label">Please select a bra size</div>
		<p class="ui info message">
			Please use the "N/A" option for men.
		</p>
	</div>
	

	<!-- Eyes -->

	<h4 class="ui header">Eyes</h4>

	<div class="two fields">

		<div class="required field" ng-class="{ 'error': form.eyeColor.$invalid && form.eyeColor.$dirty }">
			<label for="eyeColor">Color</label>
			<dropdown ng-model="person.eyes.color" placeholder="Select an eye color" multiple="true" fluid="true" name="eyeColor">
			    <choice ng-repeat="type in eyes.colors" choice-value="type._id" display="type.term"></choice>
			</dropdown>
			<div ng-show="form.eyeColor.$invalid && form.eyeColor.$dirty" class="ui red label">Please select a color</div>
			<p class="ui info message">
				You can select multiple eye colors due to pigmented contact lenses.
			</p>
		</div>

		<div class="required field" ng-class="{ 'error': form.eyeShape.$invalid && form.eyeShape.$dirty }">
			<label for="eyeShape">Shape</label>
			<dropdown ng-model="person.eyes.shape" placeholder="Select an eye shape" fluid="true" name="eyeShape">
			    <choice ng-repeat="type in eyes.shapes" choice-value="type._id" display="type.term"></choice>
			</dropdown>
			<div ng-show="form.eyeShape.$invalid && form.eyeShape.$dirty" class="ui red label">Please select a shape</div>
			<div class="ui buttons spaced"><a class="ui button" ng-click="help( 'eye shapes' )">What are these?</a></div>
		</div>
	</div>

	<!-- Hair -->

	<h4 class="ui header">Hair</h4>

	<div class="two fields">

		<div class="required field" ng-class="{ 'error': form.hairColor.$invalid && form.hairColor.$dirty }">
			<label for="hairColor">Color</label>
			<dropdown ng-model="person.hair.color" placeholder="Select a hair color" fluid="true" multiple="true" name="hairColor">
			    <choice ng-repeat="type in hair.colors" choice-value="type._id" display="type.term"></choice>
			</dropdown>
			<div ng-show="form.hairColor.$invalid && form.hairColor.$dirty" class="ui red label">Please select a color</div>
		</div>

		<div class="required field" ng-class="{ 'error': form.hairStyle.$invalid && form.hairStyle.$dirty }">
			<label for="hairStyle">Style</label>
			<dropdown ng-model="person.hair.style" placeholder="Select a hair color" fluid="true" multiple="true" name="hairStyle">
			    <choice ng-repeat="type in hair.styles" choice-value="type._id" display="type.term"></choice>
			</dropdown>
			<div ng-show="form.hairStyle.$invalid && form.hairStyle.$dirty" class="ui red label">Please select a style</div>
			<div class="ui buttons spaced"><a class="ui button" ng-click="help( 'hair styles' )">What are these?</a></div>
		</div>
	</div>

<!-- GENRE -->

<h3 class="ui dividing header">Genre</h3>

<div class="two fields">
	
	<div class="required field" ng-class="{ 'error': form.gender.$invalid && form.gender.$dirty }">
		<label for="gender">Gender</label>
		<dropdown ng-model="person.gender" placeholder="Select a gender" fluid="true" name="gender">
		    <choice ng-repeat="type in genders" choice-value="type._id" display="type.term"></choice>
		</dropdown>
		<div ng-show="form.gender.$invalid && form.gender.$dirty" class="ui red label">Please select a gender</div>
	</div>

	<div class="required field" ng-class="{ 'error': form.orientation.$invalid && form.orientation.$dirty }">
		<label for="orientation">Orientation</label>
		<dropdown ng-model="person.orientation" placeholder="Select a gender" fluid="true" name="orientation">
		    <choice ng-repeat="type in orientations" choice-value="type._id" display="type.term"></choice>
		</dropdown>
		<div ng-show="form.orientation.$invalid && form.orientation.$dirty" class="ui red label">Please select an orientation</div>
		<div class="ui buttons spaced"><a class="ui button" ng-click="help( 'orientations' )">What are these?</a></div>
		<p class="ui info message">
			If you're unsure, select "Heterosexual".
		</p>
	</div>

</div>