<h1 class="ui header">
  	<i class="cocktail icon"></i>
  	<div class="content">
		Chasing the Ballmer Peak
		<div class="sub header">
			Just a list of some of my favorite drink recipes
		</div>
  	</div>
</h1>

<div class="ui stackable grid">
	<div class="eight wide column">
		<h1 class="ui center aligned inverted icon header" ng-if="drinks.length == 0">
			<i class="cocktail icon"></i>
			<div class="content">
				WHAT?! No recipes?!
				<div class="sub header">
					The world as we know it is ending...
				</div>
			</div>
		</h1>
		
		<div class="ui segment" ng-if="drinks.length > 0">
			<div class="ui divided list">
				<div class="item" ng-repeat="drink in drinks">
					<img class="ui small rounded image" src="{{ drink.thumbnail }}">
					<div class="content">
						<div class="header">{{drink.name}}</div>
						<ul>
							<li ng-repeat="ingredient in drink.ingredients">
								{{ ingredient.amount }} {{ ingredient.measure }} {{ ingredient.item }}
							</li>
						</ul>
					</div>
				</div>
			</div>	
		</div>
	</div>
	<div class="eight wide column">
		<div class="ui center aligned segment">
			<img src="https://www.explainxkcd.com/wiki/images/f/fd/ballmer_peak.png" class="ui image">
		</div>
	</div>
</div>