<h1 class="ui header">
  	<i class="mail icon"></i>
  	<div class="content">
		Contact
		<div class="sub header">
			Use this form to contact me!
		</div>
  	</div>
</h1>

<div class="ui stackable grid">
	<div class="ten wide column">
		<form class="ui form" name="form" ng-submit="send( form )" ng-show="!hideForm">
			<div class="ui active inverted dimmer" ng-show="loading">
			   	<div class="ui loader"></div>
			</div>
			
			<div class="ui icon info message">
				<i class="info icon"></i>
				After successfully completing this form, you will be CC'd on the email that it sends. This is to demonstrate my
				capability of designing responsive HTML emails.
			</div>
			
			<div class="required field" ng-class="{ 'error': form.email.$invalid && form.email.$dirty }">
				<label for="email">From</label>
				<input type="email" ng-model="email.sender" name="email" id="email" placeholder="name@domain.com" required autocomplete="off">
				<div ng-show="form.email.$invalid && form.email.$dirty" class="ui pointing red label">Please enter a valid email address</div>
			</div>
			<div class="required field" ng-class="{ 'error': form.subject.$invalid && form.subject.$dirty }">
				<label for="subject">Subject</label>
				<input type="text" ng-model="email.subject" name="subject" id="subject" placeholder="Subject of the Email" required autocomplete="off" maxlength="78">
				<div ng-show="form.subject.$invalid && form.subject.$dirty" class="ui pointing red label">Please enter a subject</div>
			</div>
			<div class="required field" ng-class="{ 'error': form.message.$invalid && form.message.$dirty }">
				<label for="message">Message</label>
				<textarea ng-model="email.body" name="message" id="message" placeholder="Body of the Email" required autocomplete="off"></textarea>
				<div ng-show="form.message.$invalid && form.message.$dirty" class="ui pointing red label">Please enter a message</div>
			</div>
			
			<button type="submit" class="ui primary labeled icon button" ng-class="{ 'fluid' : isMobile }" style="{{ ( isMobile ) ? 'margin-bottom: 1rem' : '' }}">
				<i class="send icon"></i>
				Send
			</button>
			
			<button type="reset" class="ui labeled icon button" ng-class="{ 'fluid' : isMobile }">
				<i class="history icon"></i>
				Reset
			</button>
			
		</form>
		
	</div>
	<div class="six wide column">
		
		<h2 class="ui header">
			<div class="content">
				Information
			</div>
		</h2>
		<div class="ui relaxed divided list">
			<div class="item">
				<i class="large phone middle aligned icon"></i>
				<div class="content">978-436-0982</div>
			</div>
			<div class="item">
				<i class="large at middle aligned icon"></i>
				<div class="content">davemaison@gmail.com</div>
			</div>
			<div class="item">
				<i class="large linkedin middle aligned icon"></i>
				<div class="content">
					<a href="https://www.linkedin.com/in/david-maison-85970b57">linkedin.com/in/david-maison-85970b57</a>
				</div>
			</div>
			<div class="item">
				<i class="large facebook middle aligned icon"></i>
				<div class="content">
					<a href="https://www.facebook.com/dave.maison">facebook.com/dave.maison</a>
				</div>
			</div>
			<div class="item">
				<i class="large github middle aligned icon"></i>
				<div class="content">
					<a href="https://github.com/dmaison">github.com/dmaison</a>
				</div>
			</div>
			
		</div>
		
	</div>
</div>