<h1 class="ui header">
  	<i class="folder open icon"></i>
  	<div class="content">
    	Contact
    	<div class="sub header">
    		Websites &amp; projects I've worked on
    	</div>
  	</div>
</h1>

<div class="ui active inverted dimmer" ng-show="loading">
   	<div class="ui loader"></div>
</div>

<form class="ui form">
	<div class="required field">
		<label for="">From</label>
		<input type="text" ng-model="" name="" id="" placeholder="name@domain.com">
	</div>
	<div class="required field">
		<label for="">Subject</label>
		<input type="text" ng-model="" name="" id="" placeholder="Subject of the Email">
	</div>
	<div class="required field">
		<label for="">Message</label>
		<textarea ng-model="" name="" id="" placeholder="Body of the Email"></textarea>
	</div>
	<div class="ui buttons">
		<button type="submit" class="ui primary labeled icon button">
			<i class="mail icon"></i>
			Send
		</button>
		<button type="reset" class="ui labeled icon button">
			<i class="history icon"></i>
			Reset
		</button>
	</div>
</form>