<h1 class="ui inverted header">
  	<i class="lab icon"></i>
  	<div class="content">
    	DNA Dashboard
    	<div class="sub header">
    		Example dashboard
    	</div>
  	</div>
</h1>

<div class="ui grid">
	<div class="eight wide column">

		<div class="ui top attached secondary segment">
			<h3 class="ui header">General</h3>
		</div>
		<div class="ui bottom attached center aligned segment">
			<div class="ui statistic">
			  	<div class="value"><i class="blue man icon"></i></div>
			  	<div class="label">Gender</div>
			</div>
			
			<div class="ui statistic">
			  	<div class="value"><i class="green unhide icon"></i></div>
			  	<div class="label">Eye Color</div>
			</div>
			
			<div class="ui statistic">
			  	<div class="value">6' 1"</div>
			  	<div class="label">Height</div>
			</div>
			
			<div class="ui statistic">
			  	<div class="value">205 lbs.</div>
			  	<div class="label">Weight</div>
			</div>
		</div>
		
		<div class="ui top attached secondary segment">
			<h3 class="ui header">Haplogroups</h3>
		</div>
		<div class="ui bottom attached center aligned segment">
			<div class="ui statistic">
			  	<div class="value"><i class="pink female icon"></i>{{dna.haplogroup.maternal}}</div>
			  	<div class="label">Maternal</div>
			</div>
			
			<div class="ui statistic">
			  	<div class="value"><i class="blue male icon"></i>{{dna.haplogroup.paternal}}</div>
			  	<div class="label">Paternal</div>
			</div>
		</div>
		
		<div class="ui grid">
			<div class="eight wide column">
				<div class="ui top attached secondary segment">
					<h3 class="ui header">Neanderthal</h3>
				</div>
				<div class="ui bottom attached center aligned segment">
					<div class="ui statistic">
					  	<div class="value"><i class="puzzle icon"></i>{{dna.neanderthal.percentage}}%</div>
					  	<div class="label">Percentage</div>
					</div>
				</div>
			</div>
			<div class="eight wide column">
				<div class="ui top attached secondary segment">
					<h3 class="ui header">Blood</h3>
				</div>
				<div class="ui bottom attached center aligned segment">
					<div class="ui statistic">
					  	<div class="value"><i class="red theme icon"></i></div>
					  	<div class="label">{{dna.blood.type}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="eight wide column">
		
		<div class="ui top attached secondary segment">
			<h3 class="ui header">Composition</h3>
		</div>
		<div class="ui bottom attached center aligned segment">
			
			<div class="ui grid">
				
				<div class="middle aligned eight wide column">
					<canvas class="chart chart-doughnut" chart-data="percents" chart-labels="ethnicities"></canvas>
				</div>
				<div class="eight wide column">
					<div class="ui {{item.color}} progress" data-percent="{{item.percentage}}" ng-repeat="item in dna.composition">
					  	<div class="label">{{item.ethnicity}}</div>
					  	<div class="bar" style="transition-duration: 300ms; width: {{item.percentage}}%;">
					  		<div class="progress">{{item.percentage}}%</div>
					  	</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>