<h1 class="ui inverted header">
  	<i class="configure icon"></i>
  	<div class="content">
    	Examples
    	<div class="sub header">
    		Demonstratable examples of code I've created
    	</div>
  	</div>
</h1>

<div class="ui top attached tabular menu">
	<a class="item" ng-class="{ 'active' : ( page == 'paginate' ) }"  ng-click="navigate( 'paginate' )">Pagination</a>
	<a class="item" ng-class="{ 'active' : ( page == 'drop' ) }"  ng-click="navigate( 'drop' )">Dropdown</a>
	<a class="item" ng-class="{ 'active' : ( page == 'game' ) }"  ng-click="navigate( 'game' )">Platformer</a>
</div>
<div class="ui bottom attached segment">

	<div ng-show="( page == 'game' )">

		<a href="https://github.com/dmaison/vidya-platformer" class="ui primary labeled icon button" target="_blank" style="margin-bottom: 1em;">
			<i class="github icon"></i>
			View it on GitHub
		</a>

		<p>
			The Vidya-Platformer package is an abandoned project of mine that was meant to help significantly 
			reduce development time on creating two-dimensional platformer style web-based video games.
		</p>

		<p>
			The project was put to the wayside due to work related circumstances and other more lucrative 
			projects. It will be resumed at a point when I have more free time.
		</p>

		<p class="ui top attached info icon message">
			<i class="info icon"></i>
			This package is in an extremely alpha state and may not function as intended on all browsers.
		</p>
		<p class="ui bottom attached warning icon message">
			<i class="warning icon"></i>
			This package was intended to be ran on a desktop computer and requires a keyboard. It will not function on mobile devices.
		</p>

		<a href="/game" class="ui positive labeled icon button" target="_blank">
			<i class="play icon"></i>
			Try it out the basic controls test
		</a>

		<h3 class="ui header">Instantiation Markup</h3>
		<pre class="ui info message">
&lt;script src="libs/jquery/dist/jquery.min.js">&lt;/script>
&lt;script src="js/examples/game/movement.js">&lt;/script>
&lt;script src="js/examples/game/controls.js">&lt;/script>
&lt;script src="js/examples/game/collision.js">&lt;/script>
&lt;script src="js/examples/game/vidya.js">&lt;/script>
&lt;link rel="stylesheet" type="text/css" href="css/examples/game/application.css">
&lt;script>
	$( document ).ready( function(){
		new Vidya({ 
			character	: $( '#mc' ), 
			objects		: $( '.object' ),
			movement 	: {
						fallSpeed	: 20,
						walkSpeed	: 15
					}
		});
	});
&lt;/script>
		</pre>

	</div>

	<div ng-show="( page == 'paginate' )">

		<a href="https://github.com/dmaison/portfolio/blob/master/client/js/directives/pagination.js" class="ui primary labeled icon button" target="_blank">
			<i class="github icon"></i>
			View Pagination on GitHub
		</a>

		<h3 class="ui header">Demonstration</h3 class="ui header">
		<table class="ui celled table">
			<thead>
				<tr>
					<th style="width: 100px;">Icon</th>
					<th>Group</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in items">
					<td class="center aligned"><i class="{{item.icon}} icon"></i></td>
					<td>{{item.description}}</td>
				</tr>
			</tbody>
		</table>
		<paginate list="items" items-per-page="3" filter="search"></paginate>

		<h3 class="ui header">Demonstration Markup</h3 class="ui header">
		<pre class="ui info message">
&lt;table class="ui celled table">
	&lt;thead>
		&lt;tr>
			&lt;th style="width: 100px;">Icon&lt;/th>
			&lt;th>Group&lt;/th>
		&lt;/tr>
	&lt;/thead>
	&lt;tbody>
		&lt;tr ng-repeat="item in items">
			&lt;td class="center aligned">&lt;i class="{{item.icon}} icon">&lt;/i>&lt;/td>
			&lt;td>{{item.description}}&lt;/td>
		&lt;/tr>
	&lt;/tbody>
&lt;table>
&lt;paginate list="items" items-per-page="3">&lt;/paginate>
		</pre>
	</div>

	<div ng-show="( page == 'drop' )" class="ui form">
		<a href="https://github.com/dmaison/portfolio/blob/master/client/js/directives/dropdown.js" class="ui primary labeled icon button" target="_blank">
			<i class="github icon"></i>
			View Dropdown on GitHub
		</a>

		<h3 class="ui header">Foreword</h3 class="ui header">
		<p>At first glance, this demonstration is admittedly underwhelming and unimpressive.</p>
		<p>
			<em>However</em>, the reason why I feel this is impressive, and why I included it, is that when invoking Semantic UI
			dropdown method on an element, it essentially undoes any ties to Angular on the element.
		</p>

		<p>
			What I've done is allowed the element to have the semantic UI dropdown invoked on it, and still have the dropdown's value
			be bound to the scope.
		</p>

		<h3 class="ui header">Demonstration</h3 class="ui header">
		<div class="field">
			<label>Select Single Icon</label>
			<dropdown ng-model="dropValue" placeholder="Please select a single icon">
				<choice ng-repeat="item in drops" choice-value="item.icon" display="item.icon"></choice>
			</dropdown>
			<div class="ui info message">{{dropValue}} <i class="{{dropValue}} icon"></i></div>
		</div>

		<div class="field">
			<label>Select Multiple Icons</label>
			<dropdown ng-model="dropValueMulti" placeholder="Please select multiple icons" multiple="true">
				<choice ng-repeat="item in drops" choice-value="item.icon" display="item.icon"></choice>
			</dropdown>
			<div class="ui info message">{{dropValueMulti}} <div ng-repeat="item in dropValueMulti"><i class="{{item}} icon"></i></div></div>
		</div>
		<h3 class="ui header">Demonstration Markup</h3 class="ui header">
		<pre class="ui info message">
&lt;div class="field">
	&lt;label>Select Single Icon&lt;/label>
	&lt;dropdown ng-model="dropValue" placeholder="Please select a single icon">
		&lt;choice ng-repeat="item in drops" choice-value="item.icon" display="item.icon">&lt;/choice>
	&lt;/dropdown>
	&lt;div class="ui info message">{{dropValue}} &lt;i class="{{dropValue}} icon">&lt;/i>&lt;/div>
&lt;/div>

&lt;div class="field">
	&lt;label>Select Multiple Icons&lt;/label>
	&lt;dropdown ng-model="dropValueMulti" multiple="true">
		&lt;choice ng-repeat="item in drops" choice-value="item.icon" display="item.icon">&lt;/choice>
	&lt;/dropdown>
	&lt;div class="ui info message">{{dropValueMulti}} &lt;div ng-repeat="item in dropValueMulti">&lt;i class="{{item}} icon">&lt;/i>&lt;/div>&lt;/div>
&lt;/div>
		</pre>
	</div>
</div>