<h1 class="ui header">
  	<i class="home icon"></i>
  	<div class="content">
    	Home
    	<div class="sub header">
    		Welcome to dave.maison, my portfolio website
    	</div>
  	</div>
</h1>

<p>
	The goal of this site is to demonstrate my development abilities and to showcase my resume and portfolio.
</p>

<p>
	This is essentially a MEAN stack developed site. However, I opted to not serve my data with MongoDB for 
	the reason that the data is generally static and I felt that tying a database to the site was a bit overkill.
	Instead, I use <a href="https://github.com/dmaison/portfolio/tree/master/server/data" target="_blank">JSON files</a> 
	to store the information.
</p>

<a href="https://github.com/dmaison/portfolio/" target="_blank" class="ui button primary labeled icon button">
	<i class="github icon"></i>
	View the code on GitHub
</a>

<h2 class="ui header">What went into the site</h2>

<div class="ui grid">
	<div class="eight wide column">
		<h3 class="ui header">Server Side</h3>
		<div class="ui relaxed divided list">
		  	<div class="item">
		    	<i class="large dropbox middle aligned icon"></i>
		    	<div class="content">
		      		Async
		    	</div>
		  	</div>
		  	<div class="item">
		    	<i class="large dropbox middle aligned icon"></i>
		    	<div class="content">
		      		Body Parser &amp; Cookie Parser
		    	</div>
		  	</div>
		  	<div class="item">
		    	<i class="large dropbox middle aligned icon"></i>
		    	<div class="content">
		      		CLI Color
		    	</div>
		  	</div>
		  	<div class="item">
		    	<i class="large dropbox middle aligned icon"></i>
		    	<div class="content">
		      		Express &amp; Express Session
		    	</div>
		  	</div>
		  	<div class="item">
		    	<i class="large dropbox middle aligned icon"></i>
		    	<div class="content">
		      		Method Override
		    	</div>
		  	</div>
		  	<div class="item">
		    	<i class="large code middle aligned icon"></i>
		    	<div class="content">
		      		Node.js
		    	</div>
		  	</div>
		  	<div class="item">
		    	<i class="large dropbox middle aligned icon"></i>
		    	<div class="content">
		      		Nodemailer
		    	</div>
		  	</div>
		  	<div class="item">
		    	<i class="large dropbox middle aligned icon"></i>
		    	<div class="content">
		      		Webdriver Manager
		    	</div>
		  	</div>
		</div>
	</div>
	<div class="eight wide column">
		<h3 class="ui header">Client Side</h3>
		<div class="ui relaxed divided list">
			<div class="item">
		    	<i class="large dropbox middle aligned icon"></i>
		    	<div class="content">
		      		Angular.js
		    	</div>
		  	</div>
		  	<div class="item">
		    	<i class="large css3 middle aligned icon"></i>
		    	<div class="content">
		      		CSS 3
		    	</div>
		  	</div>
			<div class="item">
		    	<i class="large html5 middle aligned icon"></i>
		    	<div class="content">
		      		HTML 5
		    	</div>
		  	</div>
		  	<div class="item">
		    	<i class="large code middle aligned icon"></i>
		    	<div class="content">
		      		Javascript
		    	</div>
		  	</div>
		  	<div class="item">
		    	<i class="large dropbox middle aligned icon"></i>
		    	<div class="content">
		      		Semantic UI
		    	</div>
		  	</div>
		</div>
	</div>
</div>