<div class="ui grid">
	<div class="row">
		<div class="eight wide column">
			<h1 class="ui inverted header">
				<i class="home icon"></i>
				<div class="content">
					Home
					<div class="sub header">
						Welcome to dave.maison, my portfolio website
					</div>
				</div>
			</h1>
			<div class="ui segment">
				<h1 class="ui header">
					<i class="comment icon"></i>
					Introduction
				</h1>
				<p>
					The goal of this site is to demonstrate my development abilities and to showcase my resume and portfolio.
				</p>
				
				<p>
					This is essentially a MEAN stack developed site. However, I opted to not serve my data with MongoDB for 
					the reason that the data is generally static and I felt that tying a database to the site was a bit overkill.
					Instead, I use <a href="https://github.com/dmaison/portfolio/tree/master/server/data" target="_blank">JSON files</a> 
					to store the information.
				</p>
			</div>
			<a href="https://github.com/dmaison/portfolio/" target="_blank" class="ui button primary labeled icon button">
				<i class="github icon"></i>
				View the source on GitHub
			</a>
		</div>
		<div class="eight wide column">
			<h2 class="ui inverted header">What went into the site</h2>
			
			<div class="ui grid">
				<div class="eight wide column">
					<div class="ui fluid segment">
						<h1 class="ui header">
							<i class="server icon"></i>
							Server Side
						</h1>
						<div class="ui divided list">
							<div class=" item">
								<i class="large dropbox middle aligned icon"></i>
								<div class="content">
									Async
								</div>
							</div>
							<div class="item">
								<i class="large dropbox middle aligned icon"></i>
								<div class="content">
									Body Parser &amp; Cookie Parser
								</div>
							</div>
							<div class="item">
								<i class="large dropbox middle aligned icon"></i>
								<div class="content">
									CLI Color
								</div>
							</div>
							<div class="item">
								<i class="large dropbox middle aligned icon"></i>
								<div class="content">
									Express &amp; Express Session
								</div>
							</div>
							<div class="item">
								<i class="large dropbox middle aligned icon"></i>
								<div class="content">
									Method Override
								</div>
							</div>
							<div class="item">
								<i class="large code middle aligned icon"></i>
								<div class="content">
									Node.js
								</div>
							</div>
							<div class="item">
								<i class="large dropbox middle aligned icon"></i>
								<div class="content">
									Nodemailer
								</div>
							</div>
							<div class="item">
								<i class="large dropbox middle aligned icon"></i>
								<div class="content">
									Webdriver Manager
								</div>
							</div>
						</div>
					</div>
				</div>
			
				<div class="eight wide stretched column">
					<div class="ui fluid segment">
						<h1 class="ui header">
							<i class="desktop icon"></i>
							Client Side
						</h1>
						<div class="ui divided list">
							<div class="item">
								<i class="large dropbox middle aligned icon"></i>
								<div class="content">
									Angular.js
								</div>
							</div>
							<div class="item">
								<i class="large css3 middle aligned icon"></i>
								<div class="content">
									CSS 3
								</div>
							</div>
							<div class="item">
								<i class="large html5 middle aligned icon"></i>
								<div class="content">
									HTML 5
								</div>
							</div>
							<div class="item">
								<i class="large code middle aligned icon"></i>
								<div class="content">
									Javascript
								</div>
							</div>
							<div class="item">
								<i class="large dropbox middle aligned icon"></i>
								<div class="content">
									Semantic UI
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="four wide column">
			<div class="ui segment">
				<h1 class="ui header">
					<i class="world icon"></i>
					Ethnic Heritage
				</h1>
				<canvas class="chart chart-doughnut" chart-data="percents" chart-labels="ethnicities"></canvas>
			</div>
			<a class="ui primary labeled icon button" href="/dna">
				<i class="lab icon"></i>
				Full Genetic Composition
			</a>
		</div>
		<div class="four wide column">
			<div class="ui segment">
				<h1 class="ui header">
					<i class="wait icon"></i>
					Time Usage (In Hours)
				</h1>
				<canvas id="line" class="chart chart-line" chart-data="time.data" chart-labels="time.labels" chart-series="time.series"></canvas> 
			</div>
		</div>
		<div class="four wide column">
			<div class="ui segment">
				<h1 class="ui header">
					<i class="suitcase icon"></i>
					Work Experience
				</h1>
				<canvas id="bar" class="chart chart-bar" chart-data="experience.data" chart-labels="experience.labels" chart-series="experience.series"></canvas>
			</div>
		</div>
		<div class="four wide column">
			<div class="ui segment">
				<h1 class="ui header">
					<i class="line chart icon"></i>
					Balmer Peak
				</h1>
				<div class="ui statistic" style="width: 100%; text-align: center;">
					<div class="value"><i class="green cocktail icon"></i>5</div>
					<div class="label">Drinks</div>
				</div>
			</div>
		</div>
	</div>
</div>