<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Dave Maison's portfolio website">
    <meta name="keywords" content="dave, david, maison, node, angular, semantic, express, mean stack, developer, responsive, design, ui/ux, portfolio, javascript, css, html">
    <meta name="author" content="Dave Maison">
    <meta name="copyright" content="dave.maison 2015">
    <meta name="application-name" content="dave.maison">

    <!-- facebook -->
    <meta property="og:title" content="dave.maison">
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://dave.maison">
    <meta property="og:image" content="http://dave.maison/img/me.jpg">
    <meta property="og:description" content="Dave Maison's portfolio website">

    <!-- twitter -->
    <meta name="twitter:title" content="dave.maison">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="Dave Maison's portfolio website">
    <meta name="twitter:image" content="http://dave.maison/img/me.jpg">

    <base href="/">

    <title>dave.maison</title>

    <!-- css -->
    <link href="https://fonts.googleapis.com/css?family=Amatica+SC" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="libs/semantic-ui/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="libs/angular-chart.js/dist/angular-chart.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- libs -->
    <script type="text/javascript" src="libs/angular/angular.js"></script>
    <script type="text/javascript" src="libs/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="libs/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="libs/semantic-ui/dist/semantic.min.js"></script>
    <script type="text/javascript" src="libs/angulartics/src/angulartics.js"></script>
    <script type="text/javascript" src="libs/angulartics-google-analytics/dist/angulartics-google-analytics.min.js"></script>
    <script type="text/javascript" src="libs/Chart.js/Chart.min.js"></script>
    <script type="text/javascript" src="libs/angular-chart.js/dist/angular-chart.js"></script>
    
    <!-- directives -->
    <script type="text/javascript" src="js/directives/pagination.js"></script>
    <script type="text/javascript" src="js/directives/dropdown.js"></script>
    <script type="text/javascript" src="js/directives/semantic.js"></script>

    <!-- modules -->
    <script type="text/javascript" src="js/modules/main.js"></script>
    <script type="text/javascript" src="js/modules/portfolio.js"></script>
    <script type="text/javascript" src="js/modules/resume.js"></script>
    <script type="text/javascript" src="js/modules/examples.js"></script>
    <script type="text/javascript" src="js/modules/contact.js"></script>
    <script type="text/javascript" src="js/modules/dna.js"></script>
    <script type="text/javascript" src="js/modules/study.js"></script>

    <!-- app -->
    <script type="text/javascript" src="js/app.routes.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-68842438-1', 'auto');
    </script>
</head>
<body>
    <div>
        
        <!-- menu -->
        <div class="ui top fixed inverted menu" id="main-menu">
            <a href="/" class="active item">
                dave.maison
            </a>
            
            <!-- responsive menu -->
            <div class="ui right inverted menu" ng-show="isMobile">
                <div class="ui simple dropdown icon item">
                    <i class="sidebar icon"></i>
                    <div class="menu">
                        <a ng-repeat="item in menu" href="{{item.path}}" class="item">
                            {{item.title}}
                        </a>
                        <a target="_blank" class="icon item" href="https://github.com/dmaison">
                            Github
                        </a>
                        <a target="_blank" class="icon item" href="https://www.linkedin.com/pub/david-maison/57/70b/859">
                            LinkedIn
                        </a>
                        <a target="_blank" class="icon item" href="https://www.facebook.com/dave.maison">
                            Facebook
                        </a>
                    </div>
                </div>
            </div>
            <a ng-repeat="item in menu" href="{{item.path}}" class="icon item" ng-show="!isMobile">
                <i class="large {{item.icon}} icon"></i>
            </a>
            <a target="_blank" class="icon item" href="https://github.com/dmaison" ng-show="!isMobile">
                <i class="large github icon"></i>
            </a>
            <a target="_blank" class="icon item" href="https://www.linkedin.com/pub/david-maison/57/70b/859" ng-show="!isMobile">
                <i class="large linkedin icon"></i>
            </a>
            <a target="_blank" class="icon item" href="https://www.facebook.com/dave.maison" ng-show="!isMobile">
                <i class="large facebook icon"></i>
            </a>
        </div>
        
        <!-- content -->
        <div id="content" ng-view></div>    
        
        <div class="ui modal" id="error">
            <div class="ui icon header">
                <i class="red warning circle icon"></i>
                Error
            </div>
            <div class="center aligned content">
                <p>{{error}}</p>
            </div>
            <div class="actions">
                <div class="ui ok labeled icon button">
                    <i class="check icon"></i>
                    Got it!
                </div>
            </div>
        </div>
        
        <div class="ui modal" id="success">
            <div class="ui icon header">
                <i class="green check circle icon"></i>
                Success
            </div>
            <div class="center aligned content">
                <p>{{success}}</p>
            </div>
            <div class="actions">
                <div class="ui ok labeled icon button">
                    <i class="check icon"></i>
                    Got it!
                </div>
            </div>
        </div>

    </div>
</body>
</html>