<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Dave Maison's portfolio website">
    <meta name="keywords" content="dave, david, maison, node, angular, semantic, express, mean stack, developer, responsive, design, ui/ux, portfolio, javascript, css, html">
    <meta name="author" content="Dave Maison">
    <meta name="copyright" content="dave.maison 2015">
    <meta name="application-name" content="dave.maison">

    <!-- facebook -->
    <meta property="og:title" content="dave.maison">
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://dave.maison">
    <meta property="og:image" content="http://dave.maison/img/me.jpg">
    <meta property="og:description" content="Dave Maison's portfolio website">

    <!-- twitter -->
    <meta name="twitter:title" content="dave.maison">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="Dave Maison's portfolio website">
    <meta name="twitter:image" content="http://dave.maison/img/me.jpg">

    <base href="/">

    <title>dave.maison</title>

    <!-- css -->
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="libs/semantic-ui/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="libs/angular-chart.js/dist/angular-chart.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- libs -->
    <script type="text/javascript" src="libs/angular/angular.js"></script>
    <script type="text/javascript" src="libs/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="libs/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="libs/semantic-ui/dist/semantic.min.js"></script>
    <script type="text/javascript" src="libs/angulartics/src/angulartics.js"></script>
    <script type="text/javascript" src="libs/angulartics-google-analytics/dist/angulartics-google-analytics.min.js"></script>
    <script type="text/javascript" src="libs/Chart.js/Chart.min.js"></script>
    <script type="text/javascript" src="libs/angular-chart.js/dist/angular-chart.js"></script>
    <script type="text/javascript" src="js/colors.js"></script>
    
    <!-- directives -->
    <script type="text/javascript" src="js/directives/pagination.js"></script>
    <script type="text/javascript" src="js/directives/dropdown.js"></script>

    <!-- modules -->
    <script type="text/javascript" src="js/modules/main.js"></script>
    <script type="text/javascript" src="js/modules/portfolio.js"></script>
    <script type="text/javascript" src="js/modules/resume.js"></script>
    <script type="text/javascript" src="js/modules/examples.js"></script>
    <script type="text/javascript" src="js/modules/contact.js"></script>
    <script type="text/javascript" src="js/modules/dna.js"></script>

    <!-- app -->
    <script type="text/javascript" src="js/app.routes.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-68842438-1', 'auto');
    </script>
</head>
<body>
    <div>

        <!-- menu -->
        <div class="ui top fixed menu">
            <a href="/" class="active item">
                dave.maison
            </a>

            <!-- responsive menu -->
            <div class="ui simple dropdown item" id="responsive-menu">
                <i class="sidebar icon"></i>
                <div class="menu">
                    <a ng-repeat="item in menu" href="{{item.path}}" class="item">{{item.title}}</a>
                </div>
            </div>
            <a ng-repeat="item in menu" href="{{item.path}}" class="desktop item">{{item.title}}</a>
            <div class="right menu">
                <a target="_blank" class="item" href="https://github.com/dmaison">
                    <i class="large github icon"></i>
                </a>
                <a target="_blank" class="item" href="https://www.linkedin.com/pub/david-maison/57/70b/859">
                    <i class="large linkedin icon"></i>
                </a>
                <a target="_blank" class="item" href="https://www.facebook.com/dave.maison">
                    <i class="large facebook icon"></i>
                </a>
            </div>
        </div>

        <!-- color bar -->
        <div class="masthead segment bg4">
            <div></div>
            <h1 class="ui inverted header">
                <span class="sitename">
                    dave.maison
                </span>
            </h1>
        </div>

        <!-- content -->
        <div id="content" ng-view></div>        

    </div>
</body>
</html>