<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <base href="/">

    <title>dave.maison</title>

    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="libs/semantic-ui/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <script type="text/javascript" src="libs/angular/angular.js"></script>
    <script type="text/javascript" src="libs/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="libs/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="libs/semantic-ui/dist/semantic.min.js"></script>
    <script type="text/javascript" src="js/colors.js"></script>
    
    <script type="text/javascript" src="js/modules/main.js"></script>
    <script type="text/javascript" src="js/modules/portfolio.js"></script>
    <script type="text/javascript" src="js/modules/resume.js"></script>
    <script type="text/javascript" src="js/modules/examples.js"></script>
    <script type="text/javascript" src="js/modules/contact.js"></script>
    <script type="text/javascript" src="js/app.routes.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>
<body>
    <div>

        <div class="ui top fixed menu">
            <a href="/" class="active item">
                dave.maison
            </a>
            <div class="ui simple dropdown item" id="responsive-menu">
                <i class="sidebar icon"></i>
                <div class="menu">
                    <a ng-repeat="item in menu" href="{{item.path}}" class="item">{{item.title}}</a>
                </div>
            </div>
            <a ng-repeat="item in menu" href="{{item.path}}" class="desktop item">{{item.title}}</a>
            <div class="right menu">
                <a target="_blank" class="item" href="https://github.com/dmaison">
                    <i class="large github icon"></i>
                </a>
                <a target="_blank" class="item" href="https://www.linkedin.com/pub/david-maison/57/70b/859">
                    <i class="large linkedin icon"></i>
                </a>
                <a target="_blank" class="item" href="https://www.facebook.com/dave.maison">
                    <i class="large facebook icon"></i>
                </a>
            </div>
        </div>

        <div class="masthead segment bg4">
            <div></div>
            <h1 class="ui inverted header">
                <span class="library">
                    dave.maison
                </span>
            </h1>    
        </div>

        
        <div id="content" ng-view></div>
        

    </div>
</body>
</html>