<div class="ui active inverted dimmer" ng-show="loading">
   	<div class="ui loader"></div>
</div>

<h1 class="ui header">
  	<i class="folder open icon"></i>
  	<div class="content">
    	Portfolio
    	<div class="sub header">
    		Websites &amp; projects I've worked on
    	</div>
  	</div>
</h1>

<div class="ui grid">
	<div class="three wide column" ng-repeat="site in sites">
		<div class="ui fluid card">
		  	<div class="image">
		    	<img src="{{site.thumbnail}}">
		  	</div>
		  	<div class="content">
			    <span class="header">{{site.description}}</span>
			    <div class="meta">
			      	<span class="date">{{site.url}}</span>
			    </div>
		  	</div>
		  	<div class="extra content" ng-repeat="item in site.technologies">
			    <i class="{{item.icon}} icon"></i>
			    {{item.description}}
		  	</div>
		  	<a href="{{site.url}}" class="ui bottom attached primary labeled icon button" target="_blank">
		  		<i class="forward mail icon"></i>
		  		Visit Site
		  	</a>
		</div>
	</div>
</div>