<h1 class="ui inverted header">
  	<i class="folder open icon"></i>
  	<div class="content">
		Portfolio
		<div class="sub header">
			Websites &amp; projects I've worked on
		</div>
  	</div>
</h1>

<div class="ui stackable four column grid">
	<div class="stretched column" ng-repeat="site in sites">
		<div class="ui fluid card">
			<a href="{{site.url}}" target="_blank" class="image">
				<img src="{{site.thumbnail}}">
			</a>
			<div class="content">
				<span class="header">{{site.description}}</span>
				<div class="meta">
					<a href="{{site.url}}" class="date" target="_blank">{{site.url}}</a>
				</div>
			</div>
			<div class="extra content" ng-repeat="item in site.technologies">
				<i class="{{item.icon}} icon"></i>
				{{item.description}}
			</div>
		</div>
	</div>
</div>