<h1 class="ui header">
  	<i class="file text icon"></i>
  	<div class="content">
    	Resume
    	<div class="sub header">
    		A summary of myself, my qualifications, experience, &amp; expertise
    	</div>
  	</div>
</h1>

<div class="ui secondary pointing menu">
	<a class="item" ng-class="{ 'active' : ( page == 'about' ) }"  ng-click="navigate( 'about' )">About</a>
	<a class="item" ng-class="{ 'active' : ( page == 'experience' ) }"  ng-click="navigate( 'experience' )">Experience</a>
  	<a class="item" ng-class="{ 'active' : ( page == 'expertise' ) }"  ng-click="navigate( 'expertise' )">Expertise</a>
</div>

<about ng-show="( page == 'about' )"></about>
<experience ng-show="( page == 'experience' )"></experience>
<expertise ng-show="( page == 'expertise' )"></expertise>