<h1 class="ui header">
  	<i class="file text icon"></i>
  	<div class="content">
    	Resume
    	<div class="sub header">
    		A summary of my experience &amp; expertise
    	</div>
  	</div>
</h1>


<div class="ui top attached tabular menu">
	<a class="item" ng-class="{ 'active' : ( page == 'about' ) }"  ng-click="navigate( 'about' )">About</a>
	<a class="item" ng-class="{ 'active' : ( page == 'experience' ) }"  ng-click="navigate( 'experience' )">Experience</a>
  	<a class="item" ng-class="{ 'active' : ( page == 'qualifications' ) }"  ng-click="navigate( 'qualifications' )">Qualifications</a>
</div>
<div class="ui bottom attached segment">

	<div class="ui active inverted dimmer" ng-show="loading">
       	<div class="ui loader"></div>
 	</div>

 	<div ng-show="( page == 'about' )">
		<p>
			6 years experience in the web development career field, with an emphasis on web standards, design, 
			and user experience. 4 years of education with emphasis in internet technologies from Shawsheen 
			Valley High School, and currently attending UMass Lowell for Information Technologies degree.
		</p>
	</div>

	<div ng-show="( page == 'experience' )">
		<div class="ui grid">
			<div class="four wide stretched column" ng-repeat="job in jobs">
				<div class="ui fluid card">
		  	 		<div class="content">
					    <div class="header">
					    	<span class="right floated time">{{job.years}} years</span>
					    	{{job.employer}}
					    </div>
					    <div class="meta">
					      	<p>{{job.title}}</p>
					    </div>
					    <div class="description">
					      	<p>{{job.description}}</p>
					    </div>
				  	</div>
			      	<a href="{{job.site}}" class="ui bottom attached labeled icon button" target="_blank">
			      		<i class="forward mail icon"></i>
			      		Visit Site
			      	</a>
			    </div>
			</div>
		</div>
	</div>

	<div ng-show="( page == 'qualifications' )">
		<paginate list="languages" items-per-page="4"></paginate>
		<div class="ui grid">
			<div class="four wide column" ng-repeat="item in languages">
				<h3 class="ui header">{{item.description}}</h3>
				<div class="ui relaxed divided list">
				  	<div class="item" ng-repeat="lang in item.languages">
				    	<i class="large {{item.icon}} middle aligned icon"></i>
				    	<div class="content">
				      		<a class="header">{{lang.language}}</a>
				      		<div class="description">{{lang.experience}} years experience</div>
				    	</div>
				  	</div>
				</div>
			</div>
		</div>
	</div>

</div>