<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>A Drawing of a Stegosaurus</title>
        <link rel="stylesheet" type="text/css" href="css/stegosaurus.css">
    </head>
    <body>
        <!-- The answer isn't in the code this time. -->
        <img src="img/stegosaurus.png" alt="A Drawing of a Stegosaurus">
        <form action="/part-deux" method="post" novalidation>
            <input type="password" name="answer" autocomplete="off" placeholder="Answer">
            <input type="submit">
        </form>
        <script>
            console.info( 'The answer isn\'t in the code this time.' );
        </script>
    </body>
</html>