<h1 class="ui inverted header">
	<i class="student icon"></i>
	Study Material for Fuels Craftsman
</h1>

<div class="ui segment">
	<form class="ui form" ng-submit="check()">
		
		<p>{{number}}. {{ question.text }}</p>
		<div class="field" ng-repeat="answer in question.answers">
			<div class="ui radio checkbox">
				<input type="radio" name="answer" id="answer{{$index}}" ng-click="answerSelect( answer )" value="{{ answer }}" class="hidden">
				<label for="answer{{$index}}">{{answer.text}}</label>
			</div>
		</div>
		
		<button type="submit" class="ui primary labeled icon button">
			<i class="check icon"></i>
			Check answer
		</button>
		
	</form>
</div>

<div class="ui segment">
	<div class="ui blue tiny progress" data-value="{{ number }}" data-total="{{ questions.length }}" style="margin-bottom: 0;">
		<div class="bar"></div>
	</div>
</div>