:root {
    --facebook: #1778f2;
    --github: #24292e;
    --instagram: #e1306c;
    --linkedin: #2867b2;
    --stack-overflow: #f48024;
    --steam: #1b2838;
    --twitch: #9147ff;
    --vapor-pink: #ff00c1;
    --vapor-purple: #9600ff;
    --vapor-blue: #00b8ff;
}