header {
    --x: -2;
    --y: -2;
    --shadowX: calc( var( --height ) * var( --x ) * -1 );
    --shadowY: calc( var( --height ) * var( --y ) * -1 );
    --size: 40dvh;
    --height: 40px;
    --depthBase: calc( var( --size ) / 20 );
    --depthX: calc( var( --depthBase ) * var( --x ) );
    --depthY: calc( var( --depthBase ) * var( --y ) );
    --highlightX: calc( var( --depthX ) * -1 );
    --highlightY: calc( var( --depthY ) * -1 );

    

    

    align-items: center;
    background: radial-gradient( var( --c-green-100 ), var( --c-green-200 ), var( --c-green-1000 ) );
    border: 2px solid var( --c-green-500 );
    border-radius: 50%;
    box-sizing: border-box;

    /* magic */
    box-shadow: 
        var( --shadowX ) var( --shadowY ) var( --height ) var( --c-gray-black ),
        var( --depthX ) var( --depthY ) var( --depthBase ) var( --c-green-1000 ) inset,
        var( --highlightX ) var( --highlightY ) var( --depthBase ) var( --c-green-100 ) inset;

    display: flex;
    height: var( --size );
    justify-content: center;
    overflow: hidden;

    transition: .5s ease-out;
    position: relative;
    width: var( --size );

    &::before {
        --size-2: calc( var( --size ) / 1.2 );
        background: radial-gradient( rgb( from var( --c-gray-white ) r g b / calc( alpha * var( --transparency-900 ) ) ), transparent );
        border-radius: inherit;
        box-shadow: var( --height ) var( --height ) var( --height ) var( --c-green-1000 );
        content: '';
        display: block;
        filter: blur( 20px );
        height: var( --size-2 ) ;
        left: 0;
        opacity: .75;
        position: absolute;
        top: 0;
        width: var( --size-2 );
    } 

    &::after {
        --size-2: calc( var( --size ) - 2px );
        background: linear-gradient( white, transparent ) no-repeat;
        border-radius: inherit;
        content: '';
        display: block;
        height: var( --size-2 );
        left: 0;
        mix-blend-mode: overlay;
        opacity: .75;
        position: absolute;
        top: -25%;
        width: var( --size-2 );
    } 

    h1 {
        --shadow2X: calc( 1px * var( --x ) );
        --shadow2Y: calc( 1px * var( --y ) );
        --highlight2X: calc( -1px * var( --x ) );
        --highlight2Y: calc( -1px * var( --y ) );
        font-size: calc( var( --size ) / 2 );
        mix-blend-mode: soft-light;
        text-shadow: 
            var( --highlight2X ) var( --highlight2Y ) 2px var( --c-gray-white ),
            var( --shadow2X ) var( --shadow2Y ) 2px black;

        transition: inherit;
        z-index: 1;
    }

   

}