body {
    background-color: var( --darkBlue );
    background-image: radial-gradient( var( --lightBlue ), var( --darkBlue ) );
    background-position: fixed;
    color: var( --fontPrimary );
    margin: 0;
    padding: 0;    
}