body {
    background: var( --black ) url( //assets.dave.maison/img/background.jpg ) no-repeat left bottom;
    background-size: cover;
    height: calc( 100vh - 1px );
    margin: 0;
    padding: 1px 0 0 0;
}