main {
    color: var( --c-gray-100 );
    bottom: 0;
    padding: 2rem;
    position: fixed;

    section {

        max-width: 1440px;

        h2 {
            color: var( --c-compliment-100 );
            letter-spacing: 1rem;
            text-transform: uppercase;
        }

        &#experience {
            ul {
                align-items: flex-end;
                display: flex;
                gap: 4rem;
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    a { 
                        color: var( --c-accent-100 );
                        display: block;
                        font: 400 24px/32px 'pt sans', sans-serif;
                        text-decoration: none;
                    }
                    span {
                        color: var( --c-accent-500 );
                        display: block;
                    }
                }
            }
        }
    }

}

.shadow {
    background: linear-gradient( transparent, var( --c-gray-black ) );
    color: var( --c-gray-100 );
    bottom: 0;
    height: 200px;
    mix-blend-mode: overlay;
    padding: 2rem;
    position: fixed;
    width: 100%;
    z-index: -1;
}