nav {
    --circumference: calc( 40dvh + 15rem );
    --radius: calc( var( --circumference ) / 2 );
    --size: 10dvh;
    --halfSize: calc( var( --size ) / 2 );

    box-sizing: border-box;
    height: 1px;
    left: 50dvw;
    position: absolute;
    top: 50dvh;
    width: 1px;

    @media screen and ( width < 1350px ) {
        --circumference: calc( 40dvh + 8rem );
        --size: 6dvh;
    }

    a {
        --t: calc( var( --angle ) * pi / 180 );
        --hoverDirection: 110%;
        color: rgb( from var( --c-accent-400 ) r g b / calc( alpha * .5 ) );
        display: block;
        height: var( --size );
        left: calc( var( --radius ) * cos( var( --t ) ) );
        margin-left: calc( var( --halfSize ) * -1 );
        margin-top: calc( var( --halfSize ) * -1 );
        position: absolute;
        transition: .2s linear;
        top: calc( var( --radius ) * sin( var( --t ) ) );
        width: var( --size );

        &::after {
            color: var( --c-accent-100 );
            content: attr( aria-label );
            font: 400 48px/1 'pt sans', sans-serif;
            left: 90%;
            letter-spacing: 1rem;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            text-transform: uppercase;
            transition: .5s ease-in-out;
            top: calc( 50% - 24px );
        }

        @media screen and ( width > 1666px ) {
            --startAngle: -40;
            --gap: 25;
        }

        @media screen and ( width < 1666px ) {
            --startAngle: -167;
            --gap: 50;

            &:nth-child(1),
            &:nth-child(2){ 
                &::after {
                    left: initial;
                    right: 90%;
                }
            }
        }

        @media screen and ( width < 1350px ) {
            &::after {
                font-size: 32px;
                letter-spacing: .75rem;
            }
        }

        @media screen and ( width < 1060px ) {
            --startAngle: -120;
            --gap: 20;
            &::after {
                content: initial;
            }
        }
        

        &.active { 
            --height: 10px;
            --shadowX: calc( var( --height ) * var( --x ) * -1 );
            --shadowY: calc( var( --height ) * var( --y ) * -1 );
        
            color: var( --c-compliment-100 ); 

            &::after {
                color: var( --c-gray-100 );
                left: var( --hoverDirection );
                opacity: 1;
                text-shadow: var( --shadowX ) var( --shadowY ) 10px var( --c-gray-black );
            }

            @media screen and ( width < 1666px ) {
                &:nth-child(1),
                &:nth-child(2){ 
                    &::after {
                        left: initial;
                        right: var( --hoverDirection );
                    }
                }
            }
        }

        &:hover:not( .active ) {
            color: var( --c-accent-100 );
            &::after {
                left: var( --hoverDirection );
                opacity: 1;
            }
            @media screen and ( width < 1666px ) {
                &:nth-child(1),
                &:nth-child(2){ 
                    &::after {
                        left: initial;
                        right: var( --hoverDirection );
                    }
                }
            }
        }

        &:nth-child(1){ 
            --angle: var(--startAngle ); 
        }
        &:nth-child(2){ 
            --angle: calc( var( --startAngle ) + var( --gap ) ); 
        }
        &:nth-child(3){ 
            --angle: calc( var( --startAngle ) + var( --gap ) * 2 ); 
        }
        &:nth-child(4){ 
            --angle: calc( var( --startAngle ) + var( --gap ) * 3 ); 
        }
        
        
    }

}