
.section--about {

    background: radial-gradient(ellipse at center bottom, #62a0d8, #2178d1, #085cb3);
    color: var( --color-white );
    text-shadow: 0 2px 0 var( --color-black );
    overflow: clip;
    position: relative;

    &__content {
        position: relative;
        z-index: 1;
    }

    .sun {
        background: radial-gradient( white, white, #fce570 );
        box-shadow: 0 0 70px white;
        border-radius: 50%;
        filter: blur( 1px );
        height: 100px;
        position: absolute;
        left: 10%;
        width: 100px;
    }

    .tree {
        position: absolute;
        bottom: -20px;
        right: -100px;
    }

    .cloud {
        width: 600px;
        height: 100px;
        border-radius: 50%;
        opacity: .65;
        position: absolute;
        top: -100px;
        z-index: 0;

        &--base {
            top: 0px;
            height: 100px;
            filter: url(#filter-base);
            box-shadow: 200px 170px 19px 40px rgba(255, 255, 255, 0.9);
        }

        &--back {
            top: 0px;
            height: 30px;
            width: 500px;
            filter: url(#filter-back);
            box-shadow: 200px 200px 10px 40px rgba(215, 215, 215, 0.3);
        }

        &--mid {
            top: -10px;
            width: 580px;
            height: 35px;
            filter: url(#filter-mid);
            box-shadow: 210px 250px 28px 30px rgba(66, 105, 146, 0.2);
        }
    }
    
    .proficiencies {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 0 var( --space-8 );
        padding: 0;
        list-style: none;

        &:hover img:not( :hover ) {
            opacity: .5;
        }

        img { 
            cursor: pointer;
            height: auto;
            width: 100px;
            transition: var( --transition-basic );
        }
    }

    .drawer {
        background-color: var( --color-white );
        border-radius: 2px;
        box-shadow: var( --box-shadow );
        color: var( --color-black );
        text-shadow: none;
        margin-bottom: var( --space-10 );
        padding: var( --space-4 );
        z-index: 2;
        position: relative;

        &:not( :has( [aria-describedby]:not( [hidden] ) ) ){
            display: none;
        }

        h4 {
            font-size: 12px;
            letter-spacing: 2px;
            font-weight: normal;
            text-transform: uppercase;
        }

        ul {
            columns: 4;
            list-style-type: '✅'
        }
    }
    
}