.section {
    box-sizing: border-box;
    display: grid;
    gap: var( --space-8 );
    grid-template-columns: var( --space-10 ) auto;
    margin: auto;
    max-width: var( --max-width );
    min-height: 100vh;
    padding: var( --space-10 ) var( --space-4 );
    scroll-margin-top: 80px;

    &__title {
        font-size: 40px;
        letter-spacing: 2px;
        line-height: 40px;
        position: sticky;
        text-transform: uppercase;
        top: 120px;
        transform: rotate(180deg);
        margin: 0;
        writing-mode: vertical-lr;

        &::first-letter {
            color: var( --color-primary );
        }
    }
}