.splash {
    align-items: center;
    background-color: inherit;
    box-sizing: border-box;
    display: flex;
    height: calc( 100vh - 40px );
    margin: auto;
    max-width: var( --max-width );
    padding: 0 var( --space-4 );
    position: sticky;
    top: calc( -100vh + 120px );
    z-index: 1;

    &__title {
        font-size: 60px;
        margin: 0;
        position: sticky;
        top: 0;

        em { color: var( --color-primary ); }
    }
}