.navigation {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navigation__item__icon {
    height: 29px;
    transition: linear .2s;
    width: auto;
}