.navigation {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navigation__item svg { transition: linear .2s; }

.navigation__item:hover svg { 
    fill: white; 
    padding-top: 10px;
    margin-bottom: -10px;
}