#root { 
    display: flex;
    height: calc( 100vh - 6rem);
    overflow: hidden;
    padding: 3rem 3rem 3rem 0;
    position: relative;
}

.focus { 
    display: flex;
    flex: 1; 
    flex-direction: column;
}

.focus main { flex: 1; }