#root { 
    display: flex; 
    height: 100vh;
    overflow: hidden;
    padding: 0 0 0 5vw;
    width: calc( 100vw - 5vw );
}

#root .header { flex-basis: 30vw; }

#root .navigation { flex-basis: 100px; }

#root .layout { flex: 1; }