#root { 
    display: flex;
    height: calc( 100vh - 6rem);
    overflow: hidden;
    padding: 3rem 3rem 3rem 0;
    position: relative;
}

.focus { 
    display: flex;
    flex: 1; 
    flex-direction: column;
}

main { 
    flex: 1; 
    padding-top: 2rem;
    position: relative;
}

main section { padding-left: calc( 44px + 2rem ); }

main h2 {
    bottom: -17px;
    left: 0;
    line-height: 44px;
    position: absolute;
    text-transform: uppercase;
    transform: rotate( 180deg );
    writing-mode: vertical-lr;
}